<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Vibes Coffee</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body>

{% extends "navbar.html" %}

{% block title %} Inicio - Good Vibes {% endblock %}

{% block content %}

    <main class="hero">
        <div class="hero-content">
            <p class="hero-sub">Porque sabemos que te</p>
            <h1>ENCANTA</h1>
            <p class="hero-text">empezar tu dia con</p>
            <h2 class="highlight">BUENAS</h2>
            <h2 class="highlight-alt">VIBRAS</h2>
            
            <div class="cta-section">
                <span class="arrow">➔</span>
                <button class="btn-start">Empezar</button>
            </div>
        </div>

        <div class="hero-image">
            <div class="blob-bg"></div>
            <img src="asets/imagenes/tazaCafeBienvenida.png" alt="Taza de café">
        </div>
    </main>
{% endblock %}
</body>
</html>