
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Georgia, serif;
    background:#f5efe4;
}





main{
    width:100%;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:25px;
}


.main-title{
    font-size:58px;
    font-weight:bold;
    margin-bottom:30px;
}

.section-title{
    font-size:46px;
    font-weight:bold;
    margin-bottom:35px;
}

.products-grid{
    width:1200px;

    display:grid;
    grid-template-columns:repeat(3, 1fr);

    gap:90px;
    margin-bottom:70px;
}

.product-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.quantity-circle{
    width:65px;
    height:65px;

    border-radius:50%;

    position:absolute;
    top:-10px;
    right:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;
    background:#70806a;
    color:white;
}

.product-image{
    width:250px;
    height:250px;

    border-radius:50px;
    background:#ddd;

    margin-bottom:20px;
}

.product-name{
    font-size:34px;
}

.product-price{
    font-size:30px;
}


.offer-title-wrapper{
    width:1200px;

    display:flex;
    align-items:center;
    gap:20px;

    margin-bottom:30px;
}

.arrow{
    font-size:90px;
}

.cart-title{
    font-size:62px;
    font-weight:bold;
    margin-bottom:35px;
}

.cart-table{
    width:1200px;
    background:#6f816b;
    padding:20px 40px 100px 40px;
    margin-bottom:40px;
}

.table-header,
.table-row{
    display:grid;
    grid-template-columns:
    2fr
    1fr
    1fr
    1fr
    1fr;

    align-items:center;
}

.table-header{
    margin-bottom:25px;
    font-size:28px;
}

.table-row{
    font-size:30px;
    margin-bottom:12px;
}


.cart-bottom{
    width:1200px;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    margin-bottom:40px;
}

.left-side{
    width:550px;
}

.input-group{
    margin-bottom:25px;
}

.input-group label{
    display:block;
    font-size:32px;
    margin-bottom:10px;
}

.row-flex{
    display:flex;
    align-items:center;
    gap:20px;
}

.input-box{
    width:320px;
    height:60px;
    border:2px solid #999;
    background:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:30px;
}

.button{
    width:200px;
    height:60px;

    border:none;
    border-radius:40px;

    background:#70806a;
    color:white;

    font-size:20px;
    font-weight:bold;

    cursor:pointer;
}


.summary-box{
    width:520px;
    background:#c9cfb0;

    padding:35px;
}

.summary-row{
    display:flex;
    justify-content:space-between;

    font-size:30px;
    margin-bottom:20px;
}


.final-row{
    width:1200px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:40px;
}

.slogan{
    font-size:60px;
    font-weight:bold;
}

.payment-btn{
    width:220px;
    height:80px;

    border:none;
    border-radius:50px;

    background:#70806a;
    color:white;

    font-size:26px;
    font-weight:bold;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;
}


