*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia, serif;
    background:#c9cfad;
}



/* MAIN */

.login-container {
    width: 100%;
    /* Quitamos el height 100vh que estira todo y usamos min-height */
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; /* Esto le da aire respecto al navbar */
}

/* LEFT */

.left-side{
    width:45%;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}
.shape{
    width:350px;
    height:350px;

  

    position:absolute;

    transform:rotate(20deg);

    border-radius:40px;
}
.coffee-image{
    width:520px;
    height:620px;


    position:relative;
    z-index:2;

    border-radius:30px;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.coffee-image img{
    width:100%;
    height:100%;

    object-fit:cover;
}
/* RIGHT */

.right-side{
    width:55%;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.welcome-title{
    font-size:68px;
    font-weight:400;

    margin-bottom:40px;
}

.form-title{
    font-size:28px;
    margin-bottom:20px;
}

form{
    width:430px;

    display:flex;
    flex-direction:column;
    gap:18px;
}

input{
    height:85px;

    border:none;
    border-radius:25px;

    padding-left:20px;

    font-size:24px;
}

.forgot-link{
    text-align:right;
    color:#444;
    font-size:18px;
}

button{
    width:250px;
    height:70px;

    border:none;
    border-radius:40px;

    background:#70806a;
    color:white;

    font-size:32px;
    font-weight:bold;

    cursor:pointer;

    margin-top:10px;
}

.add-btn{
    width:40px;
    height:40px;

    border:none;
    border-radius:50%;

    background:#70806a;
    color:white;

    font-size:24px;
    cursor:pointer;

    margin-bottom:10px;
}