En la radio hay un pollito
En la radio hay un pollito
Y el pollito pio, el pollito pio
El pollito pio, el pollito pio
El pollito pio, el pollito pio

En la radio hay una gallina
En la radio hay una gallina
Y la gallina coo, el pollito pio
El pollito pio, el pollito pio
El pollito pio, el pollito pio

En la radio hay también un gallo
En la radio hay también un gallo
Y el gallo cocoroco y la gallina coo
Y el pollito pio, el pollito pio
El pollito pio, el pollito pio

En la radio hay un pavo
En la radio hay un pavo
Y el pavo glu glu glu, y el gallo cocoroco
Y la gallina coo, y el pollito pio
El pollito pio, el pollito pio, el pollito pio

En la radio hay una paloma
En la radio hay una paloma
Y la paloma ruu, el pavo glu glu glu
El gallo cocoroco, la gallina coo
El pollito pio, el pollito pio
El pollito pio, el pollito pio


En la radio hay también un gato
En la radio hay también un gato
Y el gato miao, la paloma ruu
El pavo glu glu glu, el gallo cocoroco
La gallina coo y el pollito pio
El pollito pio, el pollito pio, el pollito pio

En la radio hay también un perro
En la radio hay también un perro
Y el perro guau guau, el gato miao
La paloma ruu, el pavo glu glu glu
El gallo cocoroco, la gallina coo
Y el pollito pio, el pollito pio
El pollito pio, el pollito pio

En la radio hay una cabra
En la radio hay una cabra
Y la cabra meee, el perro guau guau
El gato miao, la paloma ruu
El pavo glu glu glu, el gallo cocoroco
La gallina coo y el pollito pio
El pollito pio, el pollito pio, el pollito pio

En la radio hay un cordero
En la radio hay un cordero
Y el cordero beee, y la cabra meee
El perro guau guau, el gato miao
La paloma ruu, el pavo glu glu glu
El gallo cocoroco, la gallina coo
Y el pollito pio, el pollito pio
El pollito pio, el pollito pio


En la radio hay una vaca
En la radio hay una vaca
Y la vaca moo, y el cordero beee
Y la cabra meee, el perro guau guau
El gato miaoo, la paloma ruu
El pavo glu glu glu, el gallo cocoroco
La gallina coo y el pollito pio
El pollito pio, el pollito pio, el pollito pio

En la radio hay también un toro
En la radio hay también un toro
Y el toro muuu, y la vaca moo
Y la cordero beee y la cabra meee
El perro guau, el gato miaoo
La paloma ruu, el pavo glu glu glu
El gallo cocoroco, la gallina coo
Y el pollito pio, el pollito pio
El pollito pio, el pollito pio

En la radio hay un tractor
En la radio hay un tractor
Y el tractor bruum y el tractor bruum
Y el tractor bruum y el pollito prrrr OH OH 